body {
	background: #ccc;
	font-family: Arial;
}

input {
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 18px;
}

#conteudo1 {
	background: #fff;
	width: 60%;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
	font-family: Arial;
}