// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// FONTS
$main-font-bold: MontserratBlack, sans-serif;
$display-font: Museo700, sans-serif;
$site-title: 'Raleway', sans-serif;
$content: 'Avenir', sans-serif;
$titulo-section: 'Raleway',sans-serif;


// COLORS

$bg-button: rgba(47, 46, 46, 1);
$bg-neutro-escuro: rgb(190, 192, 182);
$bg-neutro-claro: rgb(238, 240, 228);
$bg-neutro-mtescuro: #363636;
$bg-perguntas: rgb(47, 46, 46);

$border: #5e5e5e;

$cinza-titulo: #605e5e;
$text-color: #2f2e2e;
$light-text-color: #8e8e8e;


// SIZES
$gutter: 30px;
$svg: 125px;
$perfil-height: 85vh;
$title-body-spacing: 35px;

//GRID
$one-third: percentage(1/3);
$one-fifth: percentage(1/5);